parameters:
  level: 5

  paths:
    - ext_emconf.php
    - ext_localconf.php
    - ext_tables.php
    - Classes

  ignoreErrors:
    - message: '#Variable \$_EXTKEY might not be defined.#'
      path: ext_emconf.php
    - message: '#Call to function is_array\(\) with mixed will always evaluate to false.#'
      path: Classes/Feature/Traits/FieldCollectionTrait.php

  reportUnmatchedIgnoredErrors: false
