<f:layout name="Default" />
<f:section name="main">
	<form class="form" id="searchable-ajaxform">
    <div class="searchable-typeahead">
        <div class="searchable-typeahead-field form-group">

            <span class="searchable-typeahead-query">
                <input class="js-typeahead searchable-ajaxsearch form-control"
                       name="term"
                       type="search"
                       autocomplete="off"
                       placeholder="{f:translate(key:'searchbar.label')}">
            </span>

        </div>
    </div>
	</form>


</f:section>
