<f:layout name="Default" />
<f:section name="main">

	<form class="form-inline" method="GET">
		<div class="form-group">
			<label for="term"><f:translate key="searchbar.label">Search</f:translate>: </label>
			<f:form.textfield name="tx_searchable[term]" id="term" class="form-control searchable-ajaxsearch" value="{term}"/>

		</div>
		<button type="submit" class="btn btn-primary"><f:translate key="searchbar.submit">Submit</f:translate></button>

	</form>

	<div class="searchable-ajaxsearch-results"></div>


</f:section>
