.tx-searchable .result-preview {
	margin-bottom: 10px;
}

.tx-searchable .result-highlight {
	font-style: italic;
	margin-bottom: 10px;
}

.tx-searchable .result-highlight .searchable-highlight {
	background-color: #FF0;
}

/* Autocomplete CSS */

.searchable-autocomplete-suggestions {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #FFF;
	cursor: default;
	overflow: auto;
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.2);
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.2);
}
.searchable-autocomplete-suggestions .autocomplete-suggestion {
	padding: 4px 10px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.searchable-autocomplete-suggestions .autocomplete-no-suggestion {
	padding: 4px 10px;
}
.searchable-autocomplete-suggestions .autocomplete-selected {
	background: #F0F0F0;
}
.searchable-autocomplete-suggestions strong {
	font-weight: bold;
	color: #000;
}
.searchable-autocomplete-suggestions .autocomplete-group {
	padding: 2px 5px;
	font-weight: bold;
	font-size: 16px;
	color: #000;
	display: block;
	border-bottom: 1px solid #000;
}
