.tx-searchable .result-preview {
	margin-bottom: 10px;
}

.tx-searchable .result-highlight {
	font-style: italic;
	margin-bottom: 10px;
}

.tx-searchable .searchable-highlight {
	background-color: #FF0;
}

/* Autocomplete CSS */

.searchable-autocomplete-suggestions {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #FFF;
	cursor: default;
	overflow: auto;
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.2);
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.2);
}
.searchable-autocomplete-suggestions .autocomplete-suggestion {
	padding: 4px 10px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.searchable-autocomplete-suggestions .autocomplete-no-suggestion {
	padding: 4px 10px;
}
.searchable-autocomplete-suggestions .autocomplete-selected {
	background: #F0F0F0;
}
.searchable-autocomplete-suggestions strong {
	font-weight: bold;
	color: #000;
}
.searchable-autocomplete-suggestions .autocomplete-group {
	padding: 2px 5px;
	font-weight: bold;
	font-size: 16px;
	color: #000;
	display: block;
	border-bottom: 1px solid #000;
}

/* Live search typeahead plugin */

.searchable-typeahead-list {
	list-style: none;
	margin-top: 10px;

}

.searchable-typeahead-list .searchable-typeahead-item {
	padding: 0px;
}

.searchable-typeahead-item a, .searchable-typeahead-item a:hover, .searchable-typeahead-item a:active, .searchable-typeahead-item a:focus {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	display: block;
	padding: 10px 15px;
}

.searchable-typeahead-item .searchable-result-title {
	font-weight: bold;
}

.searchable-typeahead-empty {
	font-style: italic;
	text-align: center;
}

.searchable-typeahead-empty a, .searchable-typeahead-empty a:hover, .searchable-typeahead-empty a:active, .searchable-typeahead-empty a:focus {
	display: block;
	text-decoration: none;
	color: inherit;
	cursor: auto;

}

