<f:layout name="Backend" />
<f:section name="main">

	<h1>Request</h1>

	<f:flashMessages />

		<f:form action="request" class="form">
			<div class="form-group">
				<label for="url">Request: </label>
				<f:form.textfield name="url" id="url" class="form-control" style="width: 500px;" value="{url}"/>

			</div>
			<div class="form-group">
				<label for="url">Body: </label>
				<f:form.textarea name="body" id="body" class="form-control" style="width: 500px;" rows="5" value="{body}"/>

			</div>
			<div class="form-group">
				<f:form.submit value="Submit" class="btn btn-primary" />
			</div>

		</f:form>

		<f:if condition="{status}">
			<div class="panel panel-{color}">
				<div class="panel-heading">Status code: {status}</div>
				<f:if condition="{response}">
					{response -> f:debug(maxDepth: 50, inline: 1, title: 'Response')}
				</f:if>
			</div>

		</f:if>


	<div>
		<f:link.action action="start" class="btn btn-default">Return</f:link.action>
	</div>

</f:section>
