<f:layout name="Backend" />
<f:section name="main">

	<h1>Request</h1>

	<f:flashMessages />

		<f:form action="request" class="form">
			<div class="form-group">
				<label for="url">Request: </label>
				<f:form.textfield name="url" id="url" class="form-control" style="width: 500px;" value="{url}"/>
				
			</div>
			<div class="form-group">
				<label for="url">Body: </label>
				<f:form.textarea name="body" id="body" class="form-control" style="width: 500px;" rows="5" value="{body}"/>
				
			</div>
			<div class="form-group">
				<f:form.submit value="Submit" class="btn btn-primary" />
			</div>

		</f:form>

		<f:if condition="{response}">
			<pre>{response}</pre>
		</f:if>

	<div>
		<f:link.action action="start" class="btn btn-default">Return</f:link.action>
	</div>

</f:section>
