<f:layout name="Backend" />
<f:section name="main">

	<h1>Searchable</h1>

	<f:flashMessages />

		<h2>Stats</h2>

		<table class="table">
			<tr>
				<td><b>Cluster name:</b> {health.cluster_name}</td>
				<td><b>Status:</b> <span style="background:{health.status};">{health.status}</span></td>
				<td><b>Nodes:</b> {health.number_of_nodes}</td>
				<td><b>Active Shards:</b> {health.active_shards}</td>
				<td><b>Index:</b> {index.primaries.docs.count} Documents</td>
			</tr>
		</table>


		<h2>Test Search</h2>

		<f:form action="search" class="form-inline">
			<div class="form-group">
				<label for="term">Search: </label>
				<f:form.textfield name="term" id="term" class="form-control" />
				
			</div>
			<f:form.submit value="Submit" class="btn btn-primary" />

		</f:form>

		<h2>Actions</h2>
		<f:link.action action="resetIndices" class="btn btn-default">Reset Indices</f:link.action>
		<f:link.action action="indexPages" class="btn btn-default">Index Pages</f:link.action>
		<f:link.action action="indexFull" class="btn btn-default">Index Full</f:link.action>
		<f:link.action action="request" class="btn btn-default">Http Request</f:link.action>

</f:section>
