<f:layout name="Backend" />
<f:section name="main">

	<h1>Searchable</h1>

	<f:flashMessages />

		<h2>Stats</h2>

		<table class="table">
			<tr>
				<td><b>Cluster name:</b> {health.cluster_name}</td>
				<td><b>Status:</b> <span style="background:{health.status};">{health.status}</span></td>
				<td><b>Nodes:</b> {health.number_of_nodes}</td>
				<td><b>Active Shards:</b> {health.active_shards}</td>
			</tr>
		</table>

		<h2>Index information</h2>

		<div class="row">

		<f:for each="{indices}" as="index">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">{index.name} (Language {index.language})</div>
				<table class="table">
					<tr>
						<th colspan="2">Documents</th>
					</tr>
					<f:for each="{index.types}" as="type">
						<tr>
							<td style="width: 50%;">{type.name}:</td><td>{type.documents} documents</td>
						</tr>
					</f:for>

				</table>
			</div>
		</div>

		</f:for>

		</div>

		<h2>Update schedule</h2>
		<p>{updates.count} updates scheduled.</p>

		<table class="table">
			<tr>
				<th>Type</th>
				<th>Property path</th>
				<th>Uid</th>
			</tr>

			<f:for each="{updates.hits.hits}" as="update">
				<tr>
				 <td>{update._source.type}</td>
				 <td>{update._source.property}</td>
				 <td>{update._source.uid}</td>
				</tr>
			</f:for>


		</table>



		<h2>Test Search</h2>

		<f:form action="search" class="form-inline">
			<div class="form-group">
				<label for="term">Search: </label>
				<f:form.textfield name="term" id="term" class="form-control" />

			</div>
			<f:form.submit value="Submit" class="btn btn-primary" />

		</f:form>

		<h2>Actions</h2>
		<f:link.action action="request" class="btn btn-default">Http Request</f:link.action>
		<f:link.action action="analyze" class="btn btn-default">Index Text Analyzer</f:link.action>

</f:section>
