name: CI

on:
  push:
    branches:
     - master
    tags:
      - '*'
  pull_request:
    branches:
     - master
  schedule:
    - cron: '0 7 * * *'

jobs:
  build:
    name: 'PHP ${{ matrix.php }}, TYPO3 ${{ matrix.typo3 }}, Elasticsearch ${{ matrix.elasticsearch }}'
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - '7.4'
          - '8.0'
          - '8.1'
        typo3:
          - '^11.5'
        elasticsearch:
          - '5'

    steps:
      - uses: actions/checkout@v4

      - name: Build
        env:
          PHP_VERSION: ${{matrix.php}}
          TYPO3_VERSION: ${{matrix.typo3}}
          ELASTICSEARCH_VERSION: ${{matrix.elasticsearch}}
        run: docker-compose run --rm app composer build

      - name: Cleanup
        if: ${{ always() }}
        run: docker-compose down --volumes
