name: CI

on:
  push:
    branches:
     - master
    tags:
      - '*'
  pull_request:
  schedule:
    - cron: '0 7 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - '7.4'
        typo3:
          - '^10.4'
          - '^11.5'
        elasticsearch:
          - '5'
          - '7.17.4'

    steps:
      - uses: actions/checkout@v3

      - name: Build
        env:
          PHP_VERSION: ${{matrix.php}}
          TYPO3_VERSION: ${{matrix.typo3}}
          ELASTICSEARCH_VERSION: ${{matrix.elasticsearch}}
        run: docker-compose run --rm app composer build

      - name: Cleanup
        if: ${{ always() }}
        run: docker-compose down --volumes
